<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.hisp.india.trackercapture"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateHidden|adjustResize"
        tools:replace="android:label"
        >
        <activity
            android:name=".domains.splash.SplashActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".domains.main.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>
        <activity
            android:name=".domains.enroll_program.EnrollProgramActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <activity
            android:name=".domains.enroll_program_stage.EnrollProgramStageActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <activity
            android:name=".domains.enroll_program_stage_detail.EnrollProgramStageDetailActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan"
            >
        </activity>
        <activity
            android:name=".domains.login.LoginActivity_"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            >
        </activity>
        <activity
            android:name=".domains.template.TemplateActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            >
        </activity>

        <service android:name=".services.task.TaskService" />
    </application>
</manifest>